---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <a href="/">Início</a>
  <a href="/about/">Sobre</a>
  <a href="/blog/">Blog</a>
  <h1>Sobre Mim</h1>
  <h2>... e meu novo site Astro!</h2>

  <p>
    Estou resolvendo o tutorial introdutório do Astro. Esta é a segunda página
    no meu website, e é a primeira que eu mesmo construí!
  </p>

  <p>
    Este site será atualizado enquanto eu completo mais desse tutorial, então
    continue verificando e veja como minha jornada está indo!
  </p>
</Layout>
